<header>
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">The Sentinal</li>
      <li>
        <%= link_to "Politics", politics_path %>
      </li>
      <li><%= link_to "Opinions", opinions_path %></li>
      <li><%= link_to "Sports", sports_path %></li>
      <li><%= link_to "Local", local_path %></li>
      <li><%= link_to "National", national_path %></li>
      <li><%= link_to "World", world_path %></li>
      <li><%= link_to "Business", business_path %></li>
      <li><%= link_to "Tech", tech_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a class="small button btn" href="#">Sign In</a></li>
      <li><a class="small button btn" href="#">Subscribe</a></li>
    </ul>
  </div>
</div>
</header>
